.visualization {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 1000ms linear;
}

.visualization-prev-enter {
  transform: translateX(-100%);

  &.visualization-prev-enter-active {
    transform: translateX(0%);
  }
}

.visualization-prev-exit {
  transform: translateX(0%);

  &.visualization-prev-exit-active {
    transform: translateX(100%);
  }
}

.visualization-next-enter {
  transform: translateX(100%);

  &.visualization-next-enter-active {
    transform: translateX(0%);
  }
}

.visualization-next-exit {
  transform: translateX(0%);

  &.visualization-next-exit-active {
    transform: translateX(-100%);
  }
}
