.mobile-disabled {
  position: absolute;
  background-color: #ddd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem 3rem 3rem;

    #desktop-icon {
      display: block;
      margin: 0 auto;
      height: 48px;
      width: 48px;
    }

    #message {
      padding-top: 1rem;
    }
  }
}
