.halpern {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(200, 200, 200);
  background: radial-gradient(
    circle,
    rgba(230, 230, 230, 1) 0%,
    rgba(220, 220, 220, 1) 30%,
    rgba(210, 210, 210, 1) 95%
  );
}
