#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms linear;
  touch-action: none;

  &.show {
    opacity: 1;

    .navigation {
      padding: 0 2rem;
    }
  }

  #version {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }

  .play,
  .pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 5rem;
    z-index: 1;
    cursor: pointer;
  }

  .play {
    border-style: solid;
    border-width: 2.5rem 0 2.5rem 4rem;
    border-color: transparent transparent transparent white;
  }

  .pause {
    border-style: double;
    border-width: 0 0 0 4rem;
    border-color: white;
  }

  #title {
    position: absolute;
    font-weight: 600;
    font-size: 1.5rem;
    top: 3rem;
    left: calc(50% + 1rem);
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 1rem;
    user-select: none;
  }

  .navigation {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 5rem;
    justify-content: space-between;
    transition: padding 250ms ease-out;
  }

  .arrow-container {
    padding: 1rem;
    cursor: pointer;
    touch-action: none;

    @media screen and (max-width: 400px) {
      transform: scale(0.625);
    }

    .arrow polyline {
      transition: all 250ms ease-in-out;
      width: 100%;
      height: 100%;
    }

    &:hover .arrow polyline,
    &:focus .arrow polyline {
      stroke-width: 5;
    }

    &:active .arrow polyline {
      stroke-width: 8;
    }
  }
}
