#overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms linear;
  touch-action: none;

  &.show {
    opacity: 1;

    .navigation {
      padding: 0 2rem;
    }
  }

  #version {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: none;
  }

  #play-pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.5);
    padding: 3rem;
    z-index: 1;

    @media screen and (max-height: 400px) and (orientation: landscape) {
      transform: translate3d(-50%, -50%, 0) scale(0.33);
    }

    .play,
    .pause {
      height: 100%;
      width: 100%;
    }

    .play {
      border-style: solid;
      border-width: 2.5rem 0 2.5rem 4rem;
      border-color: transparent transparent transparent white;
    }

    .pause {
      border-style: double;
      border-width: 0 0 0 4rem;
      height: 5rem;
      border-color: white;
    }
  }

  #title {
    position: absolute;
    font-weight: 600;
    font-size: 1.25rem;
    left: 50%;
    top: 5%;
    transform: translate3d(-50%, -5%, 0);
    letter-spacing: 7px;
    padding-left: 7px;
    user-select: none;
    transition: text-shadow 100ms linear;

    @media screen and (max-height: 400px) and (orientation: landscape) {
      top: 10%;
      transform: translate3d(-50%, -10%, 0) scale(0.75);
    }

    &:hover {
      cursor: pointer;
      text-shadow: -1px 0 0 rgba(255, 255, 255, 0.33),
        1px 0 0 rgba(255, 255, 255, 0.33), 0 -1px 0 rgba(255, 255, 255, 0.33),
        0 1px 0 rgba(255, 255, 255, 0.33);
    }
  }

  .navigation {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 5rem;
    justify-content: space-between;
    transition: padding 250ms ease-out;
  }

  .arrow-container {
    padding: 1rem;
    touch-action: none;
    transform: scale(0.5);

    @media screen and (max-width: 400px) {
      transform: scale(0.33);
    }

    @media screen and (max-height: 400px) and (orientation: landscape) {
      transform: scale(0.33);
    }

    .arrow polyline {
      transition: all 250ms ease-in-out;
      width: 100%;
      height: 100%;
    }

    &:hover .arrow polyline,
    &:focus .arrow polyline {
      stroke-width: 5;
    }

    &:active .arrow polyline {
      stroke-width: 8;
    }
  }
}
